/* Road Rage might need a commercial liscence */
@font-face {
    font-family: 'Road-Rage';
    src: url(../fonts/rr/Road_Rage.otf);
}

@font-face {
    font-family: 'VCR';
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}

body {
    background: rgb(250,250,250) !important;
}


#smolicon{
    width: 50px;
    /* height: 50px; */
    margin: 0 auto 0 auto;
}

.navbar-nav > li > a {
    font-size: 2rem;
    color: rgb(255, 187, 0);
    font-family: 'Road-Rage', sans-serif;
    margin: auto 15px;
}

p, h2, .list-unstyled > li {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
}

.weird {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;    
}

#alerty {
    margin-top: 10px;
}
.socials {
    color: white;
}

#splashbody {
    background: url("../static/seth_bg.jpg") no-repeat center fixed;
    background-size: cover;
}

.darkarts {
    background: rgba(0,0,0,0) !important;
}

.scrolled {
background: rgb(29, 16, 41) !important;
transition: background-color 200ms linear;
}

.card {
    border-color: rgba(0,0,0,1) impr !important;
}

.marginoverride {
margin: 21.5vh auto;
}

.famcardy  {
    margin: 1%;
}

.famcard {
    margin: 2% auto 3% auto;
    max-width: 100%;
    max-height: 75%;
    display: flex;
    justify-content: center;
}
.flexissues {
    margin: auto;
    width: 50%;
}
#countdown {
    float: left;
    color: white;
    font-size: 2rem;
    font-family: 'VCR', sans-serif !important;
    display: inline-flex;
}

#countdown > a {
    display: inline-flex;
    text-decoration: none;
}


.shifted {
    padding-top: 6em !important;
}

#fam-text {
    color: rgb(255, 187, 0);
    font-family: 'Road-Rage', sans-serif;
    font-size: 400%;
}

hr {
    background-color: rgb(255, 187, 0);
    min-width: 50%;
    height: 3px;
    border: none;
    margin: auto;
    position: relative;
    
}

.avatar {
    width: 15%;
    /* height: 100px; */
    margin: 10px;
    border: 10px solid rgb(255, 187, 0);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

/* .carousel-item {
    height: 350px;
} */

.who {
    color: gray;
}

.carousel-cap {
    position: absolute;
    right: 20%;
    left: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    color: rgb(255, 0, 234);
}

.footy {
    border-radius: 25px;
    background: url("../static/footer.png");
    padding: 20px;
    width: 100%;
    height: 100%;
}

.btn-secondary {
    background-color: rgb(255, 187, 0) !important;
    font-family: 'Orbitron' !important;
    color:rgb(29, 16, 41) !important;
    border-color: rgb(255, 187,0) !important;
}

.navbar-nav > li > a:hover {
    color: rgb(255, 0, 234) !important;
}
#pulse {
    display: none;
}

.blob{
    background: red;
    border-radius: 50%;
    margin: 15px;
    height: 20px;
    width: 20px;

    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

::after, ::before {
    box-sizing: content-box !important;
}

.tabnames {
    color: rgb(255, 0, 234) !important; 
    font-family: 'Road-Rage', sans-serif;
    font-size: 4vh !important;
}


/* .youtube-container {
    display: flex;
    justify-content: center;
}

.ytvids {
    border: 2px solid orange;
    margin: 5%;
    max-width: 95% !important;
}
.tiktok-container {
    display: flex;
    justify-content: center;
}
.ttvids {
    border: 2px solid orange;
     max-width: 95% !important; 
}

.column-tt {
    float: left;
    width: 25%;
    padding: 5px;
} */

/*FREAKING ABOUT IMAGES, FINALLY*/
.triangleimagediv { /*this hold them both*/
    position: relative;
    top: 0;
    left: 0;
  }
  .bg-triange { /*this is the triangle*/
    position: relative;
    top: 0;
    left: 0;
    /*border: 1px rgb(26, 23, 23) solid;*/
  }
  .imgcircle { /*this is the actual picture*/
    position: absolute;
    top: 17%;
    left: 25%;
    width: 80%;
    height: 70%;
    object-fit: cover;
    border:5px solid rgb(255, 187, 0);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }




/* MOVE TO CARDS FOR FAM SECTION */
/* credit to https://codeconvey.com/css-hexagon-image-with-border/ for the hex code */
.hex {
display: block;
margin: 0 auto;
position: relative;
width: 320px;
height: 277.12px; /* width * 0.866 */
background: rgb(255, 0, 234);
background-image: linear-gradient(yellow, rgb(255,0,234));
box-sizing: border-box;
-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
position: absolute;
background-color: orange; /*color of the main-background*/
top: 2px; /* equal to border thickness */
left: 2px; /* equal to border thickness */
width: 99%; /* container height - (border thickness * 2) */
height: 99%; /* container height - (border thickness * 2) */
-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
position: absolute;
width: 100%; 
height: 100%; 
object-fit: cover;
-webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
-moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

/*TRIANGLES*/
.imagebox {
    position: relative;
    width: 250px;
    height: 250px;
    display: block;
    /* border: 2px solid black; */
    box-sizing: border-box;
  }
  
  .imgbox { /* THis is the one holding the image */
    height: 100%;
    width: 100%;
    background-image: linear-gradient(yellow, rgb(255,0,234));
    -webkit-clip-path: polygon(50% 10%, 10% 90%, 90% 90%);
    -moz-clip-path: polygon(60% 0, 20% 80%, 100% 80%);
    position: absolute; 
    z-index: 3;
    /* transform: rotate(-10deg); */
  }
  
  .layertriangle img {
    max-height: 90%;
    z-index: 2;
    transform: rotate(25deg);
    position:absolute;
    object-fit: contain;
    padding-left: 30px;
    margin-top: -10px;
  }
  
  .imgbox img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
  }